* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 70, 93);
}

aside {
    width: 18rem;
    height: 100vh;

    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 31, 42);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color:yellow;
}

.aside--h4 {
    color: rgb(22, 191, 191);
    margin-top: 1rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aside--h1 {
    color: rgb(22, 191, 191);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14rem;
}

.top--div {
margin-top: 1rem;
}

.aside--div {
    background-color: rgb(12, 155, 155);
    padding: 0 0.5rem 1rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;

}

label {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

.btn--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sqre-btn {
    width: 6rem;
    height: 2rem;
}

input {
    height: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(3, 41, 41);
    border-radius: 0.4rem;
    background-color: rgb(225, 225, 225);
    padding: 0 1rem 0 1rem;
    color: rgb(3, 41, 41);
}
.chooseUpdate {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.dropdown {
    height: 1.5rem;
}

.shrink {
    width: 7.5rem;
}

/* ----------------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin-left: 18rem
}

.header {
display: flex;
flex-direction: row;
align-items: center;
padding-left: 1rem;
background-color: rgb(3, 41, 41);
border-radius: 1rem 1rem 0  0;
color: yellow;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.allSongs {
    margin-top: 2rem;
}

.songUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.li--container:nth-child(odd){
    background-color: rgb(30, 70, 93);
    color: rgb(240, 253, 253);
}

.li--container:nth-child(even){
    background-color: rgb(22, 191, 191);
    color: rgb(18, 44, 58);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
}

.td--id {
    padding: 0.8rem 0 0.5rem 0;
    width: 7rem;

    font-family: Arial, Helvetica, sans-serif;
}

.td--title{
    width: 18rem;
}
.td--artist{
    width: 22rem;
}
.td--year{
    width:3rem;
}

.td--button {
    width: 3rem;
    margin-left: 2rem;
}

.edit {
    margin-top: 2rem;
    border: 1px solid rgb(22, 191, 191);
    background-color: rgb(213, 230, 237);
}

.nudge {
    margin-top: 1rem;
}